<!DOCTYPE html>
<html lang="en">
{% load book %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>

<body>

    <h1>Book List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <h1>{{ count }}</h1>
            {% comment %}
            <td><a href="{{ book.get_book_url }}">{{ book.name }}</a></td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
            {% endcomment %}
            {% for book in books %}
            <tr>
                <td><a href="{{ book.get_book_url }}">{{ book.name }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>